.TodoForm {
  margin-bottom: 20px;
  form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .form-fields {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        height: 32px;
        width: 270px;
        border: none;
        padding: 0 15px;
        outline: none;
        font-size: 20px;
      }
      button {
        padding: 0;
        height: 32px;
        border: none;
        width: 50px;
        background-color: #0d1616;
        color: #fff;
        outline: none;
        transition: all 0.3s ease-in 0s;
        &:hover {
          background-color: #1d3e3e;
          cursor: pointer;
        }
      }
    }
    .value-danger {
      label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0;
        color: white;
      }
    }
  }
}
